body{
    margin: 0;
}
.h1500px{
    height: 1500px;
}
.h900px{
    height: 900px;
}
.h800px{
    height: 800px;
}
.h700px{
    height: 700px;
}
.h400px{
    height: 400px;
}
.h300px{
    height: 300px;
}
.h200px{
    height: 200px;
}
.h100px{
    height: 100px;
}
.h30px{
    height: 30px;
}
.h10px{
    height: 10px;
}
.w1800px{
    width: 1800px;
}
.w900px{
    width: 900px;
}
.w600px{
    width: 600px;
}
.w550px{
    width: 550px;
}
.w500px{
    width: 500px;
}
.w400px{
    width: 400px;
}
.w80px{
    width: 80px;
}
.w30px{
    width: 30px;
}
.margin10px{
    margin: 10px;
}
.margin30px{
    margin: 30px;
}
.margin-30px-120px{
    margin: 30px 120px;
}
.margin-right{
    margin-right: 190px;
}
.margin-top-100px{
    margin-top: 100px;
}
.center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-center{
    align-items: center;
    justify-content: flex-end;
}
.flex{
    display: flex;
}
.evenly{
    justify-content: space-evenly;
}
.between{
    justify-content: space-between;
}
.coloumn{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.font-s-blue{
    font-size: 15px;
    color: #122d40;
}
.font-m-blue{
    font-size: 35px;
    color: #122d40;
}
.font-m-light{
    font-size: 35px;
    color: #ced8e1;
}
.font-big-blue{
    font-size: 30px;
    color: #122d40;
    text-align: center;
}
.font-huge-blue{
    font-size: 40px;
    color: #122d40;
    text-align: center;
}
.font-xl-blue{
    font-size: 60px;
    color: #122d40;
}
.font-xl-light{
    font-size: 60px;
    color: #ced8e1;
}
.font-xxl-blue{
    font-size: 60px;
    color: #122d40;
    text-align: center;
}
.font-big-light{
    font-size: 30px;
    color: #ced8e1;
    text-align: center;
}
.back-light{
    background: #ced8e1;
}
.back-blue{
    background: #122d40;
}
.back-BL{
    background: #3cc6ea;
}
.border-light{
    border: 5px solid #3cc6ea;
}
.border-radius50{
    border-radius: 50px;
}

.border-radius15{
    border-radius: 15px;
}
.border-radius5{
    border-radius: 5px;
}
.circle{
    border-radius: 50%;
}