.father{
    box-sizing: border-box;
    height: 600px;
    width: 800px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
}
.A{
    height: 190px;
    background: silver;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}
.second{
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
}
.theerd{
    width: 572px;
}
.fourth{
    display: flex;
    margin-bottom: 6px;
    justify-content: space-between;
}
.fifth{
    display: flex;
    justify-content: space-between;
}
.B-G{
    background: silver;
    height: 190px;
    width: 185px;
    font-size: 30px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.H{
    width: 206px;
    height: 386px;
    background: silver;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}