body{
    background: #ababff;
}
.first{
    border: 10px solid black;
    width: 500px;
    background: white;
}
.twoOposit{
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid black;
}
.oposit{
    background: darkgrey;
    width: 80px;
    height: 20px;
    margin: 10px;
}
.firstLeft{
    width: 100px;
    height: 830px;
}
.sixColoumn{
    background: darkgrey;
    width: 80px;
    height: 20px;
    margin: 10px;
}
.bottomSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstRight{
    width: 390px;
    border-left: 10px solid black;
}
.rightThree{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid black;
}
.bigBoard{
    width: 360px;
    background: darkgrey;
    height: 170px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.rightFour{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 10px solid black;

}
.ffgrey{
    background: darkgrey;
    width: 80px;
    height: 40px;
    margin: 10px;
}
.rightFS{
    width: 390px;
    display: flex;
}
.rightfive{
    width: 280px;
}
.FFG{
    display: flex;
}
.FFGcubes{
    width: 110px;
    height: 60px;
    margin: 10px;
    background: darkgrey;
}
.rightsix {
    width: 120px;
    border-left: 10px solid black;

}
.FSG{
    background: darkgrey;
    width: 90px;
    height: 40px;
    margin: 10px;
}
.rightSeven{
    width: 400px;
    border-top: 10px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SLongG{
    width: 350px;
    height: 20px;
    background: darkgrey;
    margin: 10px;
}
.SshortG{
    width: 50px;
    height: 20px;
    background: darkgrey;
    margin-bottom: 10px;
}
