.backg-light-blue_font-size{
    background: #9191fa;
    font-size: 30px;
}
.font{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.backg-dark-blue_font-size{
    background: #373779;
    font-size: 15px;
}
.w500px{
    width: 500px;
}
.h160px{
    height: 160px;
}
.h320px {
    height: 320px;
}
.w160px{
    width: 160px;
}
.margin-top-10px{
    margin-top: 10px;
}
.margin-bottom-10px{
    margin-bottom: 10px;
}