i{
    font-size: 80px;
    color: orange;
}
.w800px{
    width: 800px;
    height: 200px;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.position{
    position: relative;
    top: 80px;
}
.w150px-h150px{
    width: 150px;
    height: 150px;
}
.border{
    border: 2px solid grey;
}
.circle{
    border-radius: 50%;
}
.w955px{
    width: 955px;
}
.w305px{
    width: 305px;
}