* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.font-greyUP-12-16-space102{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #61757E;
}
.font-grey-14-24-spacing104{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    color: #6A7981;
}
.font-black16-24{
    font-size: 16px;
    line-height: 24px;
    color:  #0B2330;
}
.font-black-16-28{
    font-size: 16px;
    line-height: 28px;
    color: #0B2330;
}
.font-black-17-28{
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
}
.font-lightB-17-28{
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}
.font-dark-black-22-32{
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
}
.font-lightBlack-22-32{
    font-size: 22px;
    line-height: 32px;
    color: #375361;
}
.font-black-24-32{
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
}
.font-black-34-40-spacing034{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
}
.font-black-42-48-spacing042{
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
}
.font-60-64{
    font-size: 60px;
    line-height: 64px;
}
.font-black-60-64-space06{
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
}
.wrapper{
    width: 1440px;
}
.center{
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
    height: 83px;
    justify-content: space-between;
}
.header-logo{
    margin-left: 36px;
}
.nav_menu{
    display: flex;
    column-gap: 41px;
}
.nav_menu_items a{
    font-size: 16px;
    line-height: 24px;
    color:  #0B2330;
    text-decoration: none;
}
.nav_buttons{
    display: flex;
    column-gap: 24px;
    align-items: center;
}
.nav_buttons button{
    box-sizing: border-box;
    width: 163px;
    height: 54px;
    margin-right: 32px;
    font-size: 16px;
    line-height: 24px;
    background: #0B2330;
    color: #FFFFFF;
    border-radius: 4px;
}
.mobile_button{
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
}
.mobile_button span{
    position: relative;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #ccc;
}
.mobile_button span::before,
.mobile_button span::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ccc;
    position: absolute;

    border-radius: 5px;
}
.mobile_button span::before{
    bottom: 10px;
}
.mobile_button span::after{
    top: 10px;
}
.top-pic{
    display: flex;
    margin-bottom: 189px;
}
.whith-left{
    width: 840px;
    display: flex;
    justify-content: center;
    margin-top: 154px;
}
.w-l-content{
    width: 546px;
}
.w-l-content h1{
    width: 436px;
    height: 256px;
    margin-bottom: 32px;
}
.text{
    width: 435px;
    height: 96px;
}
.top-bottons{
    display: flex;
    column-gap: 16px;
    margin-top: 38px;
}
.button1{
    box-sizing: border-box;
    width: 163px;
    height: 54px;
    background: #F9C600;
    border-radius: 4px;
    border: 1px solid #F9C600;
}.button2{
    box-sizing: border-box;
    width: 163px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #0B2330;
}
.yellow-right{
    width: 600px;
    height: 886px;
    background: #F9C600;
}
.girl{
    position: relative;
    top: 172px;
    right: 102px;
}
.line-1{
    position: relative;
    top: 190px;
}
.line-2{
    position: relative;
    top: 190px;
    left: 36.64%;
}
.line-3{
    position: relative;
    top: 190px;
}
.line-4{
    position: relative;
    top: 190px;
    left: 36.64%;
}
.companies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 192px;
}
.thrust{
    width: 547px;
    height: 96px;
    text-align: center;
    margin-bottom: 59px;
}
.grid-list{
    display: flex;
    width: 1094px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grid-list img{
    margin-right: 81px;
    margin-bottom: 16px;
}
.grid-list>img:nth-child(5n){
    margin-right: 0;
}
.bicycle-back{
    display: flex;
    justify-content: center;
    margin-bottom: 191px;
}
.bicycle{
    width: 1376px;
    height: 494px;
    background:  #51CEBC;
    border-radius: 10px;
    display: flex;
}
.bicycle img{
    margin-top: 56px;
    width: 678px;
    height: 382px;
}
.bicucle-text h3{
    width: 557px;
    height: 120px;
    margin-top: 114px;
    margin-bottom: 35px;
}.bicucle-text p{
     width: 533px;
     height: 64px;
}
 .analytics{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 160px;
 }
 .analytics h3{
     width: 711px;
     height: 80px;
     margin-bottom: 57px;
     text-align: center;
 }
 .analytics img{
     margin-bottom: 113px;
 }
.analytics button {
    box-sizing: border-box;
    width: 163px;
    height: 54px;
    background: #F9C600;
    border-radius: 4px;
    border: 1px solid #F9C600;
}
.target{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 136px;
}
.purple{
    background: #BD78F0;
    width: 1260px;
    height: 537px;
    border-radius: 10px;
    margin-right: 32px;
    display: flex;
}
.purple img{
    width: 562px;
    height: 409px;
    position: relative;
    top: 64px;
    right: 116px;
}
.purple-text h3{
    width: 485px;
    height: 192px;
    margin-top: 103px;
}
.purple-text p{
    width: 550px;
    height: 56px;
    margin-top: 39px;
}
.solutions{
    margin-left: 148px;
    margin-bottom: 226px;
 }
.litle-sol{
    margin-bottom: 13px;
}
.solutions h3{
    width: 593px;
    margin-bottom: 26px;
}
.context{
    display: flex;
    margin-left: 148px;
    justify-content: space-between;
    margin-bottom: 121px;
}
.video{
    display: flex;
    margin-left: 148px;
    justify-content: space-between;
    margin-bottom: 97px;
}
.concept{
    display: flex;
    margin-left: 148px;
    justify-content: space-between;
    margin-bottom: 158px;
}
.context>img{
    margin-right: 32px;
}
.video>img{
    margin-right: 32px;
}
.concept>img{
    margin-right: 32px;
}
.three-pic-purple p{
    width: 484px;
    margin-bottom: 64px;
}
.three-pic-purple h3{
    margin-top: 23px;
    margin-bottom: 29px;
}
.three-pic-purple button{
    width: 144px;
    height: 54px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
}
.three-pic-green p{
    width: 484px;
    margin-bottom: 36px;
}
.three-pic-green h3{
    margin-top: 23px;
    margin-bottom: 29px;
}
.three-pic-green button{
    width: 144px;
    height: 54px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
}
.three-pic-yellow p{
    width: 484px;
    margin-bottom: 36px;
}
.three-pic-yellow h3{
    margin-top: 23px;
    margin-bottom: 29px;
}
.three-pic-yellow>button{
    width: 144px;
    height: 54px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
}
.three-button{
    margin-top: 18px;
}
.button-conMic{
    width: 228px;
    height: 23px;
    border: 1px solid #61757E;
    border-radius: 4px;
}
.button-video{
    width: 147px;
    height: 23px;
    border: 1px solid #61757E;
    border-radius: 4px;
    margin-left: 8px;
}
.button-concept{
    width: 152px;
    height: 23px;
    background: #FE9F28;
    border: 1px solid #FE9F28;
    border-radius: 4px;
    margin-left: 8px;
}
.features{
    background: #F2EDE7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features-center{
    width: 1196px;
    margin-top: 96px;
}
.features-center>p{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.features-center h3{
    width: 1064px;
    height: 128px;
    margin-bottom: 120px;
}
.feat-img{
    display: flex;
    justify-content: space-between;
}
.top-feature{
    width: 589px;
    height: 316px;
    border-top: 2px solid #C9316F;
    border-bottom: 2px solid #C3CACD;
}
.cont-targ{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}
.top-feature p{
    width: 563px;
    margin-bottom: 35px;
}
.botton-arow{
    width: 120px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mid-feature{
    height: 80px;
    width: 588px;
    border-bottom: 2px solid #C3CACD;
    display: flex;
    align-items: center;
}
.AI{
    display: flex;
    justify-content: space-between;
    width: 588px;
}
.bott-feature{
    border-bottom: 2px solid #C3CACD;
    height: 84px;
    margin-bottom: 95px;
}
.templates{
    display: flex;
    justify-content: space-between;
    width: 588px;
}
.templates h4 {
    margin-top: 25px;
}
.templates img{
    margin-top: 25px;
}
.integrations{
    display: flex;
    justify-content: space-between;
}
.integrations img{
    margin-top: 160px;
    height: 418px;
}
.integration-text{
    margin-top: 184px;
    margin-left: 148px;
    margin-bottom: 264px;
}
.integration-text p{
    margin-bottom: 15px;
}
.integration-text h3 {
    width: 669px;
    margin-bottom: 37px;
}
.integration-text h6{
    width: 667px;
}
.integration-text button {
    margin-top: 36px;
    box-sizing: border-box;
    width: 208px;
    height: 54px;
    background: #F9C600;
    border-radius: 4px;
    border: 1px solid #F9C600;
}
.case{
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
}
.grey-block{
    width: 584px;
    height: 584px;
    background: #F2EDE7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.yellow-block{
    width: 794px;
    height: 584px;
    background: #F9C600;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.grey-text{
    margin-top: 80px;
    margin-left: 116px;
}
.grey-text p{
    margin-bottom: 17px;
}
.grey-text h3 {
    width: 316px;
    margin-bottom: 27px;
}
.grey-text h6{
    width: 325px;
}
.grey-text button {
    margin-top: 36px;
    box-sizing: border-box;
    width: 140px;
    height: 54px;
    background: #F2EDE7;
    border-radius: 4px;
    border: 1px solid #0B2330;
}
.yellow-block>img{
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
}
.yellow-text{
    margin-left: 115px;
    margin-top: 78px;
    width: 557px;
}
.guy{
    margin-top: 81px;
    display: flex;
}
.guy-disc{
    margin-left: 24px;
    margin-top: 24px;
}
.launch{
    height: 423px;
    background: #0B2330;
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.launch-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.launch h3{
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}
.launch h4{
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
.launch p{
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 36px;
    width: 642px;
}
.launch button {
    box-sizing: border-box;
    width: 163px;
    height: 54px;
    background: #F9C600;
    border-radius: 4px;
    border: 1px solid #F9C600;
}
.footter{
    height: 768px;
    background: #0B2330;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grey-line{
    width: 1376px;
    border-top: 1px solid #375361;
}
.lists{
    width: 1076px;
    height: 430px;
    margin-top: 79px;
    display: flex;
}
.lists img{
    height: 48px;
    margin-right: 109px;
}
.yellowH6{
    font-size: 16px;
    line-height: 24px;
    color: #F9C600;
    margin-bottom: 13px;
}
.greyP{
    font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
    margin-bottom: 14px;
    width: 162px;
}
.product{
    margin-right: 74px;
}
.stories{
    margin-right: 101px;
}
.company{
    margin-right: 110px;
}
.rights{
    width: 1022px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 59px;
}
.rights p{
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}
.medias{
    display: flex;
    column-gap: 24px;
}