.conteiner{
    width: 800px;
    height: 600px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
}
.A{
    height: 200px;
    background: silver;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    margin-bottom: 6px;
}
.second{
    display: flex;
    justify-content: space-between;
}
.b {
    height: 390px;
    width: 594px;
    background: silver;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}
.C{
    width: 200px;
    background: silver;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}